@font-face {
  font-family: 'NextEnglish';
  src: url('https://raw.githubusercontent.com/Dev-Des/storyham/master/NextEnglish-Regular.woff') format('woff'),
       url('https://raw.githubusercontent.com/Dev-Des/storyham/master/NextEnglish-Regular.ttf') format('truetype');
  font-weight: normal;
}
